---
import Blog from "../components/Blog.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card/index.astro";
import IntroCard from "../components/IntroCard.astro";
import ContactsCard from "../components/ContactsCard.astro";
import TimeZone from "../components/TimeZoneCard.astro";
import AboutMe from "../components/AboutMe.astro";
import Now from "../components/Now.astro";
import Globe from "../components/Globe";
---

<script>
  import { stagger, animate, type AnimationSequence } from "motion";
  import { loaderAnimation } from "../lib/constants";
  const cards = document.querySelectorAll(".card");

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["40%", "0%"], opacity: [0, 1] },
      { type: "spring", at: "-0.1", delay: stagger(0.3) },
    ],
  ];

  animate(sequence as AnimationSequence);
</script>

<Layout
  description="A Geezer"
  title="David Banson"
>
  <main
    class="text-white m-auto p-2 grid gap-2 max-w-6xl overflow-hidden relative w-full sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-rows-9 lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]"
  >
    <!-- Cards -->
    <IntroCard />
    <AboutMe />
    <ContactsCard />
    <TimeZone />
    <Now />

    <!-- Countries Card -->
    <Card
      colorText="text-neutral-900"
      colSpan="md:col-span-1"
      href="travel"
      rowSpan="md:row-span-1"
      title="Countries I’ve visited"
    >
      <div class="h-full w-full absolute inset-0 -z-10">
        <Globe client:load />
      </div>
    </Card>

    <!-- Blog Card (new dynamic one) -->
    <Blog />

    <!-- Footer -->
    <Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
      <p class="text-xs">
        © {new Date().getFullYear()} · Crafted with <span class="text-red-500">♥️</span> using
        <a
          class="hover:text-red-500 transition-colors duration-200"
          href="https://astro.build/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Astro
        </a>
        · David Banson
      </p>
    </Card>
  </main>
</Layout>
