---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm David, a geezer from Ghana interested in all things tech.
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>Python</li>
        <li>SQL</li>
        <li>Astro</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      I am speaking to joseph kwamina mercer banson. As an aspiring GRC analyst, I bring a robust analytical skillset, strong written and verbal communication abilities, and proficient technical expertise in Python, SQL, and Linux. I possess comprehensive knowledge of risk management frameworks - ISO 27001, NIST and HIPAA and am adept at collaborating effectively with cross-functional teams while leveraging my problem-solving capabilities to address challenges in the ever-evolving GRC landscape. With a background in International Affairs, I prioritize the intersection of policy and compliance to safeguard individuals and organizations, ensuring equitable access to cybersecurity resources. My keen interest in cybersecurity stems from its dynamic nature, offering continuous learning opportunities and the chance to contribute meaningfully to securing diverse environments. Leveraging my strengths, values, and enthusiasm, I am poised to support organizations in achieving their security objectives by bridging technical expertise with strategic policy implementation for comprehensive protection and resilience.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      job, even if it's not on my usual list. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
