---
interface Props {
  rounded?: boolean;
}

const { rounded, class: className = "", ...attrs } = Astro.props;
---

<button
  {...attrs}
  class={`custom-btn inline-flex items-center justify-center text-xl max-h-[50px] shadow-custom shadow-primary-500 active:shadow-none active:translate-x-[3px] active:translate-y-[3px] px-5 py-2 border border-primary-500 hover:text-primary-500 transition-colors duration-100 ease-in-out cursor-pointer ${
    rounded ? "rounded-full" : "rounded-lg"
  } ${className}`}
>
  <slot />
</button>
